
<!-- List -->
<div class="list-group" style="height: 100vh;">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" style="color: azure;">iPhone 12 Case</h5>
        <small>1 day ago</small>
      </div>
      <p class="mb-1">A sturdy case designed with precision to prefectly fit the iPhone 12.</p>
      <small>Price Offer: $21</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" style="color: azure;">Water Bottle</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">A reusable water bottle with a capacity of 18oz.</p>
      <small>Price Offer: $16</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" style="color: azure;">Raspberry Pi Case</h5>
        <small>6 days ago</small>
      </div>
      <p class="mb-1">A semi-transparent case that fits firmly and snugly around the unique contours of the Raspberry Pi.</p>
      <small>Price Offer: $9</small>
    </a>
</div>

